

#box {
  background: linear-gradient(to right, #E4EBF5, #d4dBd5, #E4EBF5);
}

#twoTableContainer {
  display: flex;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#weeklyTable, #dailyTable {
  display: grid;
  width : 30vw;
  height: 30vh;
}

.Wtitle {
  text-align: center;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 1fr);
}