.innerbox{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.button_default{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: -5px -5px 14px 2px rgb(255, 255, 255), 4px 4px 10px 2px rgb(196, 196, 196, 196);
}

.button_clicked{
    margin-left: 20%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
    padding:6%;
    font-size:30px;
    border-radius: 30px;
    box-shadow: -5px -5px 14px 2px rgb(255, 255, 255) inset, 4px 4px 10px 2px rgb(196, 196, 196, 196) inset;
}

.clock{
    margin-left: 30%;
    margin-right:30%;
    margin-top:5%;
    margin-bottom: 5%;
}

.calendar{
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom: 5%;
}

#alert_box {
    background-color: #E4EBF5;
    margin-right:10%;
    padding-top:5%;
    padding-bottom: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    border-radius: 30px;
    box-shadow: -5px -5px 14px 2px rgb(255, 255, 255), 4px 4px 10px 2px rgb(196, 196, 196, 196);
}

input{display:none;}
label{
    display:inline-block;
    width:100px;
    height:34px;
    cursor:pointer;
    position:relative;
    background-color:#ccc;
}

label::before{
    content: '';
    display:block;
    width:26px;
    height: 26px;
    left:4px;
    bottom:4px;
    position:absolute;
    background-color:#fff;
    transition:all .4s ease;
}

input:checked + label {background-color:#2196F3;}
input:checked + label::before{transform:translateX(65px);}

label.round{border-radius : 34px}
label.round::before{border-radius:50%}