body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #E4EBF5;
}

#box {
    background-color: #E4EBF5;
    margin-top: 2vw;
    width: 90vw;
    height: 45vw;
    border: black;
    border-radius: 80px;
    border-style: ridge;
}
