body div {
  display : flex;
  flex-direction: column;
}

caption{
  font-size: 100px;
  margin-bottom: 10px;
  color: blue;

}


.myTimetable {
  width:84%;
  border-collapse: collapse;
  table-layout: auto;
  margin-top: 80px;
  border-style: ridge; 
  margin-left: 8%; 
  margin-right: 8%;
}

.myTimetable THEAD{
  color: #646EFF;
  font-size: 30px;
}

.myTimetable TBODY {
  background-color: #AAAAFF;
}

.myTimetable TD {
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
.myTimetable TBODY TR TD:first-child {
  background-color: green;
  font-weight: bold;
}

.break, .lunch {
  background-color: #FF0066 !important;
  font-style: italic;
}

.subject {
  font-size: 12pt;
  margin-bottom:4px;
}

.room {
  font-size: 10pt;
  font-style: italic;
} 
